/* goole fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* common css */
body{
    background-color: #F3F1FF;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

hr{
    border: 1px solid #D1D1D1;
}

.container{
    width: 870px;
    background-color: #ffff;
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;
}

/* header css */
.header{
    background-color: #562EFF;
    padding: 40px 0;
    margin-bottom: 10px;
}
.navigation{
    width: 870px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.site-logo a{
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.site-logo a i {
    font-size: 40px;
}
.site-logo a span{
    font-size: 24px;
    padding-left: 15px;
}


.header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.header nav ul a{
    color: #fff;
    text-decoration: none;
    padding: 30px;

}

.right-nav{
    display: flex;
    align-items: center;
}
.right-nav img{
    width: 51px;
    height: 51px;
}

/* top player css */
.top-players{
    margin-bottom: 30px;
}

.section-title{
    color: #562EFF;
    font-size: 24px;
    line-height: 36px;
    margin-top: 0;
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 16px;
}

.player{
    display: flex;
    align-items: center;
    box-shadow: 0px 5.34229px 13.3557px rgb(109 80 80 / 17%);
    padding: 11px;
    border-radius: 5px;
}

.player img{
    width: 56px;
    height: 56px;
}

.player .player-name{
    margin-left: 16px;
    font-size: 18px;
    line-height: 27px;
}

/* blog css */
.top-blogs{
    margin-top: 30px;
}

.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.blog{
    display: flex;
    box-shadow: 0px 5.34229px 13.3557px rgb(109 80 80 / 17%);
    padding: 11px;
    border-radius: 5px;
}

.thumbnail img{
    width: 177px;
    height: 117px;
}

.blog-info{
    margin-left: 16px;
}

.blog-title{
    font-size: 20px;
    font-style: normal;
    line-height: 34px;
    margin: 0;
    margin-bottom: 5px;
}
.blog-author{
    font-size: 16px;
    line-height: 24px;
    color: #9F9F9F;
    margin: 0;
}

.blog-author a{
    text-decoration: none;
    padding-left: 5px;
    color: #562EFF;
}

/* latest courses css */
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}

.course {
    width: 252px;
    box-shadow: 0px 5.34229px 13.3557px rgb(109 80 80 / 17%);
    padding: 11px;
    border-radius: 5px;
}

.course-banner img{
    width: 224px;
    height: 104px;
}
.course-title{
    font-size: 20px;
    line-height: 23px;
    margin: 0;
    padding: 20px 0px 7px;
}
.course-author{
    margin: 0;
    margin-bottom: 20px;
    color: #ED6B4F;
    font-size: 14px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ratting-star i{
    font-size: 14px;
    color: #AEAEAE;
}
.ratting-star i.fill{
    color: #FFC014;
}
.course-info .ratting-number{
    font-size: 14px;
    color: #A2A2A2;
    margin-left: 10px;
}

.course-duration {
    background-color: #FFE4E8;
    font-size: 14px;
    color: #FF4A60;
    padding: 5px;
    border-radius: 20px;
    font-weight: 500;
}

.course-duration i{
    font-size: 15px;
}

/* footer css */
.site-footer{
    background-color: #562EFF;
    text-align: center;
    padding: 40px 0px;
    color: #fff;
    margin-top: 50px;
}

.site-footer a {
    color: #d7d5e0;
    text-decoration: none;
}