/* goole fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* common css */
body{
    background-color: #F3F1FF;
    font-family: 'Poppins', sans-serif;
}

main{
    display: flex;
    justify-content: center;
}

hr{
    border: 1px solid #D1D1D1;
}

.container{
    width: 870px;
    background-color: #ffff;
    padding: 30px;
    border-radius: 5px;
}

/* top player css */
.top-players{
    margin-bottom: 30px;
}

.section-title{
    color: #562EFF;
    font-size: 24px;
    line-height: 36px;
    margin-top: 0;
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player{
    display: flex;
    align-items: center;
}

.player img{
    width: 56px;
    height: 56px;
}

.player .player-name{
    margin-left: 16px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
}